
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    border: solid rgb(187, 187, 187);
    width: 100%;
    background-color: rgb(109, 109, 109);
    padding: 10px 0; 
    position: fixed;
    top: 0;
    z-index: 1000; 
}



.container {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-button {
    margin: 0 10px; 
    width: 40px; 
    height: 30px; 
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #333; 
    transition: background-color 0.3s; 
}

.nav-button img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

/* Specific button styles */
.nav-button.instagram {
    background-color: rgb(88, 88, 88); /* Instagram brand color */
}

.hero0{
    position: relative; 
    width: 100%;
    height: 40vh;
    background-color: rgb(94, 94, 94);
    padding-top:200px;
    border: 2px solid white;
    border-bottom: 0px;
    overflow: hidden;
}
.hero1{
    width: 100%;
    height: 40vh;
    background-color: rgb(94, 94, 94);
    padding-top: 150px;
    border: 2px solid white;
    border-bottom: 0px;
    
}

.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto; /* Remove fixed height to allow for content growth */
    min-height: 60vh; /* Ensures it takes at least the full viewport height */
    background-color: rgb(94, 94, 94);
    padding-top: 110px;
    box-sizing: border-box;
    border: 2px solid white;
}


.rights {
    font-size: 10px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
}


.title{
    margin: auto;
    width: fit-content;
    text-align: center;
    position: relative;
    font-family:"Nerko One", cursive ;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: rgb(171, 33, 33);
    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5); 
} 

.title h1{
    font-size: 70px;
    font-weight: 500;
    position: relative;
    z-index: 10;
}

.back-text{
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-text span{
    display: inline-block;
    font-size: 250px;
    font-weight: 700;
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: float 3s ease-in-out infinite;
    text-shadow: 0px 0px 0px rgba(125, 32, 32, 0.5);
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust this value to control the floating height */
    }
}

.back-text span.active{
    transform: translatey(0px);
    opacity: 1;
}



.subText{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: #fff;
    position: relative;
    font-family: 'Brutal', sans-serif;
    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5); 
                                                
} 
.coinabt{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: rgb(171, 33, 33);
    position: relative;
} 

.coinabt h1{
    font-family:"Nerko One", cursive ;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5); 
}

.abt{
    font-family:"Nerko One", cursive ;
    margin: auto;
    width: 65%;
    text-align: center;
    color: rgb(196, 196, 196);
    position: relative;
}

.howToBuy{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: rgb(171, 33, 33);
    position: relative;
}

.howToBuy h1{
    font-family:"Nerko One", cursive ;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5); 
}

.howToBuyAbt{
    font-family:"Nerko One", cursive ;
    margin: auto;
    width: 65%;
    text-align: center;
    color: rgb(196, 196, 196);
    position: relative;
    flex-grow: 1; 
}

.howToBuyAbt h3{
    -webkit-text-stroke: 1px black;
    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5); 
}
.buyButton{
    display: inline-block;
    margin: 20px auto;
    padding: 10px 10px;
    font-size: 18px;
    background-color: yellow;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.buyButton:hover {
    background-color: rgb(255, 255, 171); /* Darken on hover */
}

@media (max-width: 800px) {
    .back-text span {
        font-size: 150px;
    }
    .title h1 {
        font-size: 50px;
    }
    .hero0, .hero1 {
        height: 50vh;
        padding-top: 100px;

    }
    .hero2{
        padding-top: 50px;
    }
    .howToBuyAbt{
        font-size: small;
    }
}

@media (max-width: 400px) {
    .back-text span {
        font-size: 100px;
    }
    .title h1 {
        font-size: 30px;
    }
    .hero0{
        height: 25vh;
    }
    .hero1{
        height: 50vh;
        padding-top: 50px;
    }
    .hero2{
        height: 95vh;
    }
    .abt{
        font-size: small;
    }
}
