
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero0{
    width: 100%;
    height: 40vh;
    background-color: #292929;
    padding-top:200px;
}
.hero1{
    width: 100%;
    height: 40vh;
    background-color: lightcyan;
    padding-top:200px;
}


.title{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: #fff;
    position: relative;
} 

.title h1{
    font-size: 70px;
    font-weight: 500;
    position: relative;
    z-index: 10;
}

.back-text{
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-text span{
    display: inline-block;
    font-size: 250px;
    font-weight: 700;
    -webkit-text-stroke: 10px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    transform: translatey(100px);
    opacity: 0;
    transition: transform 1s, opacity 0.5s, -webkit-text-stroke-color 0.3s;
}

.back-text span.active{
    transform: translatey(0px);
    opacity: 1;
}

.back-text span:nth-child(1){
    transition-delay: 0.5s;
}
.back-text span:nth-child(2){
    transition-delay: 1s;
}
.back-text span:nth-child(3){
    transition-delay: 1.5s;
}

.back-text:hover span{
    -webkit-text-stroke-color: #e8ffce;
}

.subText{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: #fff;
    position: relative;
    font-family: 'Brutal', sans-serif;
                                                
} 
.abt{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: black;
    position: relative;
} 

/* @media (max-width: 800px) {
    .back-text span {
        font-size: 150px;
    }
    .title h1 {
        font-size: 50px;
    }
    .hero0, .hero1 {
        height: 50vh;
        padding-top: 200px;
    }
}

@media (max-width: 400px) {
    .back-text span {
        font-size: 100px;
    }
    .title h1 {
        font-size: 30px;
    }
    .hero0, .hero1 {
        height: 50vh;
        padding-top: 300px;
    }
} */
